<div>
  <div>作成日：</div>
  <div><%= h(@ingredient['created']) %></div>
  <br>
  <div>食材名: </div>
  <div><%= h(@ingredient['name']) %></div>
  <br>
  <div>仕入れ先: </div>
  <div><%= h(@ingredient['trader']) %></div>
  <br>
  <div>仕入れ単位: </div>
  <div><%= @s_unit.key(@ingredient['unit']) %></div>
  <br>
  <div>仕入れ原価: </div>
  <div><%= h(@ingredient['cost']) %></div>
  <br>
  <div>歩留まり: </div>
  <div><%= h(@ingredient['budomari']) %></div>
  <br>
  <div>使用単位: </div>
  <div><%= @s_unit.key(@ingredient['unit_used']) %></div>
  <br>
  <div>換算数: </div>
  <div><%= h(@ingredient['converted_number']) %></div>
  <br>
  <div>使用原価: </div>
  <div><%= h(@ingredient['cost_used']) %></div>
  <button><a href="/ingredients/<%= @ingredient['id'] %>/edit">編集</a></button>
  <form action="/ingredients/<%= @ingredient['id'] %>" method="post">
    <input type="hidden" name="csrf_token" value="<%= @csrf_token %>">             
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="削除" onClick="return deleteConfirm()">
  </form>
</div>
