<div>
  <% @ingredients.each do |ingredient| %>
    <div><%= h(ingredient['trader']) %></div>
    <div><a href="/ingredients/<%= ingredient['id'] %>"><%= h(ingredient['name']) %></a></div>
    <button><a href="/ingredients/<%= ingredient['id'] %>/edit">編集</a></button>
    <form action="/ingredients/<%= ingredient['id'] %>" method="post">
      <input type="hidden" name="csrf_token" value="<%= @csrf_token %>">             
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="削除" onClick="return deleteConfirm()">
    </form>
  <% end %>
</div>