<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/common.js"></script>
  <title>CostMan</title>
</head>
<body>
  <header>
    <h1>Logo</h1>
    <nav>
      <ul>
        <% if session[:user] %>
          <li>ようこそ!<%= h(@name) %>さん</li>
          <li><a href="/ingredients/new">食材登録</a></li>
          <li><a href="/ingredients">食材一覧</a></li>
          <li><a href="/recipes/new">レシピ登録</a></li>
          <li><a href="/recipes">レシピ一覧</a></li>
          <li>            
            <form action="/signout" method="post">
              <input type="hidden" name="csrf_token" value="<%= @csrf_token %>">             
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="サインアウト">
            </form>
          </li>          
          <li>            
            <form action="/user" method="post">
              <input type="hidden" name="csrf_token" value="<%= @csrf_token %>">             
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="アカウント削除" onClick="return deleteConfirm()">
            </form>
          </li>
        <% else %>
          <li><a href="/signup">登録</a></li>
          <li><a href="/signin">ログイン</a></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <% if @message %>
    <div><%= h(@message[:message]) %><div>
  <% end %>
  <%= yield %>
</body>
<script>
  function deleteConfirm() {
    return delete_confirm();
  }
</script>
</html>