<div>
  <% @recipes.each do |recipe| %>
    <div><a href="/recipes/<%= recipe['id'] %>"><%= h(recipe['name']) %></a></div>    
    <button><a href="/recipes/<%= recipe['id'] %>/edit">編集</a></button>
    <form action="/recipes/<%= recipe['id'] %>" method="post">
      <input type="hidden" name="csrf_token" value="<%= @csrf_token %>">             
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="削除" onClick="return deleteConfirm()">
    </form>
  <% end %>
</div>